/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 200px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar h2 {
    text-align: center;
    margin-top: 0;
}

.menu-item {
    margin: 15px 0;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-item:hover {
    background-color: #34495e;
}

.menu-toggle {
    display: none;
    background-color: #34495e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Content */
.content {
    margin-left: 270px;
    padding: 20px;
    transition: margin-left 0.3s;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Satisfy", serif;
}

/* Table Styling */
.table-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    width: 100%; /* Asegura que el contenedor tenga un 100% de ancho */
}

table {
    width: 100%; /* Esto asegura que la tabla ocupe todo el espacio disponible */
    min-width: 900px; /* Establece un ancho mínimo para la tabla. Ajusta este valor según lo que necesites */
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #34495e;
    color: white;
}

th, td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

img.logo {
    max-width: 50px;
    height: auto;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 900px) {
    .sidebar {
        width: 200px;
    }

    .content {
        margin-left: 200px;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
        box-shadow: none;
    }

    .content {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }

    table {
        width: 100%;
        min-width: 400px; /* Asegura que la tabla tenga un tamaño adecuado en pantallas pequeñas */
    }
}
