body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
}  

.container {  
    display: flex;  
}  

.sidebar {  
    background-color: #2c3e50;  
    color: white;  
    width: 155px;  
    height: 100vh;  
    padding: 20px;  
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);  
    position: fixed;  
}  

.content {  
    margin-left: 250px;  
    padding: 20px;  
    flex: 1;  
    transition: margin-left 0.3s;  
}  

.sidebar h2 {  
    text-align: center;  
    margin-top: 0;  
}  

.menu-item {  
    margin: 15px 0;  
    display: block;  
    color: white;  
    text-decoration: none;  
    padding: 10px;  
    border-radius: 5px;  
}  

.menu-item:hover {  
    background-color: #34495e;  
}  

.menu-toggle {  
    display: none;  
    background-color: #34495e;  
    color: white;  
    padding: 10px;  
    border: none;  
    cursor: pointer;  
    margin-bottom: 20px;  
}  

@media (max-width: 768px) {  
    .sidebar {  
        width: 200px;  
    }  

    .content {  
        margin-left: 200px;  
    }  
}  

@media (max-width: 576px) {  
    .sidebar {  
        width: 100%;  
        position: relative;  
        height: auto;  
        box-shadow: none;  
    }  

    .content {  
        margin-left: 0;  
    }  

    .menu-toggle {  
        display: block;  
    }  

    .menu {  
        display: none;  
    }  

    .menu.active {  
        display: block;  
    }  
}  